# Python Virtual Environment
Enterprise/
venv/
env/
.env

# Cache and Bytecode
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vscode/
.idea/

# Operating System Files
Thumbs.db
.DS_Store

# Temporary files / Outputs
*.pdf
*.wav
*.mp3
*.mp4
*.log

# Ignore all database, audio, and temp text files in the data folder
data/